.App{
    /* padding: 100px; */
}

.home-wrapper{
    /* padding: 10px; */
    /* display: inline-block; */

}

.exp-cards-container, .header-layout, .proj-cards-container{
    display: flex;
    /* border: 1px solid black; */
    padding: 10px;
    /* display: inline-block; */

}

.user-img {

}

.user-details {
    padding: 5px;
    vertical-align: top;
}

.skills-list {
    display: flex;

}

.skill{
    border: 1px solid black;
    margin: 1px;
    /* padding: 1px; */
    padding-left:  9px;
    padding-right: 9px;
    background-color: aqua;
}

.card-wrapper{

    width: 20%;
}

.card-wrapper{
    padding: 10px;
}

.experince-layout, .projects-layout{
    padding: 10px;
}
